:root {
    --primary-color: rgba(74, 74, 74, 0.7);
    --primary-color-alt: rgba(87, 87, 87, 0.7);
    --linear-gradient: linear-gradient(
        54deg,
        rgba(45, 45, 45, 0.7) 34%,
        rgba(45, 45, 45, 0.7));
}