:root {
    --primary-color: #56ae81;
    --primary-color-alt: #3f976a;
    --linear-gradient: linear-gradient(
        54deg,
        rgba(85, 174, 128, 0.95) 34%,
        rgba(109, 136, 122, 0.95));
}